@font-face {
	font-family: 'Futura';
	src: url('fonts/Futura Book font.ttf');
}

body {
	background-color: #eee;
	color: #111;
	font-family: 'Futura';
	margin: auto;
	margin-top: 1%;
}

#logo {
	position: fixed;
	top: 0;
	right: 0;
	margin: auto;
	margin-right: 1%;
	width: 15%;
}

ul#menu {
	list-style-type: none;
	margin: 0;
	margin-top: -1%;
	padding: 0;
	width: 25%;
	background-color: #111;
	position: fixed;
	height: auto;
	overflow: auto;
}

li a {
	display: block;
	color: #eee;
	padding: 4px 8px;
	text-decoration: none;
}

li a#active{
	background-color: #eee;
	color: #111;
}

li a:hover:not(#active) {
	background-color: #eee;
	color: #111;
}

#main {
	margin-left: 25%;
	margin-right: 15%;
	height: auto;
}

.title {
	width: auto;
	margin: auto;
	margin-left: 10%;
	margin-right: 20%;
}

.textblock {
	width: auto;
	margin-top: 3%;
	margin-left: 10%;
	margin-right: 20%;
}

.grid {
	width: 80%;
	margin: auto;
	margin-top: 5%;
	border-collapse: collapse;
	border-style: hidden;
}

.grid td {
	vertical-align: top;
	border: 1px dotted black;
	text-align: right;
	padding: 3%;
	width: 50%;
}

.grid td h3 {
	text-align: left;
}

.grid td p {
	margin-bottom: 4%;
}

hr, .disclaimer {
	width: auto;
	margin-left: 10%;
	margin-right: 20%;
	font-size: 0.5rem;
}

#background {
	width: 0;
	height: 0;
}

#fullbutton {
	width: 70%;
	margin: auto;
	margin-top: 3%;
	margin-left: 10%;
}
