@font-face {
	font-family: 'Futura';
	src: url('fonts/Futura Book font.ttf');
}

body {
	background-color: #eee;
	color: #111;
	font-family: 'Futura';
	margin: auto;
	margin-top: 1%;
}

ul#menu {
	list-style-type: none;
	margin: 0;
	margin-top: -1%;
	padding: 0;
	width: 25%;
	background-color: #111;
	position: fixed;
	height: auto;
	overflow: auto;
}

li a {
	display: block;
	color: #eee;
	padding: 4px 8px;
	text-decoration: none;
}

li a#active{
	background-color: #eee;
	color: #111;
}

li a:hover:not(#active) {
	background-color: #eee;
	color: #111;
}

li img {
	width: 100%;
	margin-bottom: -4px;
}

#main {
	margin-left: 25%;
	height: auto;
}

.title {
	width: auto;
	margin: auto;
	margin-left: 10%;
	margin-right: 20%;
}

.textblock {
	width: auto;
	margin-top: 3%;
	margin-left: 10%;
	margin-right: 20%;
}

.grid {
	width: 75%;
	margin: auto;
	margin-top: 5%;
}

.grid td {
	vertical-align: top;
	text-align: right;
	border: 0.1em solid black;
	padding: 1%;
	width: 50%;
}

.grid td h3 {
	text-align: left;
}

hr, .disclaimer {
	width: auto;
	margin-left: 10%;
	margin-right: 20%;
	font-size: 0.5rem;
}
